<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'home_stylesheet.css' %}">
</head>
<body>
<div class="container">
    <div class="auth-form">
        <form id="log-in" method="POST" action="login">
            {% csrf_token %}
            <input type="text" name="username" placeholder="nickname" id="username" width="100px" />
            <input type="text" name="password" placeholder="password" id="password" width="100px" />
            <input type="submit" value="Log in">
        </form>
    </div>
</div>

</body>
</html>